.row
  .col-md-6.col-md-offset-3
    %table.table
      %thead
        %td Day #
        %td Type
        %td Amount
        %td Interest (APR 35%)
        %td 
      %tbody
        - @transactions.each do |t|
          %tr
            %td 
              = t.day_number
            %td 
              = t.transaction_type
            %td 
              = number_to_currency t.change_amount
            %td
              
            %td
              = link_to '', transaction_path(t), method: :delete, class: 'glyphicon glyphicon-remove'
        %tr.info
          %td
            = @next_closing_day
          %td
          %td
            = number_to_currency @principal
          %td
            = number_to_currency @interest
          %td
            Total:&nbsp; 
            = number_to_currency (@principal + @interest)

